*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    background-color: #515151;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

main > aside {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #8c8c8c;
    width: 200px;
}

main > aside > button {
    align-items: center;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #515151;
    color: white;
}
main > aside > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
section {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 180px;
    position: absolute;
    flex-direction: row;
    margin-left: 550px;
    margin-top: 300px;
    padding: 40px 50px;
    background-color: #8c8c8c;
    border-radius: 10px;
}
section > h2 {
    text-align: center;
}

.painel { 
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    background-color: #515151;
    color: white;
}
@media (max-width: 768px) {

    body {
        height: 100vh;
        width: 100dvw;
    }

    main {
        display: flex;
        
    }

    main > aside {

        width: 130px;
        height: 90dvh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    main > aside > button {
        display: flex;
        width: 100px;
        height: 60px;
    }
    main > aside > div {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    section {
        display: flex;
        height: 150px;
        width: 200px;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 35px;
        margin-top: 200px;
    }

    .painel {
        flex-direction: column;
    }
}